@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #0f0d0d;
    color: #fff;
}

/* ================= LOADER ================= */

.loader-container {
    position: fixed;
    inset: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.loader-text-fill {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
    text-transform: uppercase;
    position: relative;
    color: #565656;
    overflow: hidden;
}

/* gradient fill layer */
.loader-text-fill::before {
    content: attr(data-title);
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #f107ba, #155af0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    width: 0%;
    animation: textFill 2.5s ease backwards;
}

@keyframes textFill {
    from { width: 0%; }
    to { width: 100%; }
}


/* NAV */
.nav {
    margin-top: 0px;
    position: relative;
    left: 27%;
    top: 20px;
    text-align: center;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    width: 46%;
    background: #111;
    border-radius: 40px;
    padding: 14px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.nav img {
    height: 30px;
}

.nav-part2 {
    display: flex;
    gap: 24px;
}

.nav-part-2 h4 {
    padding: 5px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #111;
}

a {
    text-decoration: none;
    position: relative;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

.circle {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/* HERO */

.main {
    background-color: white;
    color: #111;
}
.page1 {
    height: 610px;
}

.img-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    flex-wrap: wrap;
}

#hero-h1 {
    font-size: 4vw;
    font-weight: 300;
    line-height: 100px;
}

#hero-h3 {
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 1vw;
}

.hero-button {
    margin-top: 2vw;
    position: relative;
    margin-right: 10px;
    padding: 12px 28px;
    border-radius: 999px;
    border: 1px solid black;
    background: transparent;
    color: black;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease, border-color 0.4s ease;
  }
  
  /* background fill */
  .hero-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
  }
  
  .hero-button:hover::before {
    transform: scaleX(1);
  }
  
  .hero-button:hover {
    color: white;
    box-shadow: 0 0 20px #111(255, 255, 255, 0.4);
  }
  

.main-image img {
    height: 450px;
    width: 500px;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: 2px;
}

/* PAGE 2 */
.page2 {
    min-height: 120vh;
}

.page2-container{
    background: white;
    color: #111;
    width: 97%;
    margin: auto;
    border-radius: 40px;
    padding: 6vw 0;
}


.page2-h1 {
    font-size: 6vw;
    font-weight: 300;
    margin-left: 6vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 2vw;
    min-height: 300px;
}


.box,
.box2 {
    width: 400px;
    border-radius: 40px;
    background: #111;
    overflow: hidden;

    height: 140px;
    transition: height 0.45s ease;
}

.box:hover,
.box2:hover {
    height: 270px;
}


.box h1,.box2 h1 {
    color: #fff;
    margin: 30px;
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    border-radius: 10px;
}

.box p,
.box2 p {
    color: #fff;
    margin: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
}
