@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #0f0d0d;
    color: #fff;
}

/* ================= LOADER ================= */

.loader-container {
    position: fixed;
    inset: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.loader-text-fill {
    font-family: "Oswald", sans-serif;
    font-size: 5vw;
    text-transform: uppercase;
    position: relative;
    color: #565656;
    overflow: hidden;
}

/* gradient fill layer */
.loader-text-fill::before {
    content: attr(data-title);
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #f107ba, #155af0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    width: 0%;
    animation: textFill 2.5s ease backwards;
}

@keyframes textFill {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


/* NAV */
.nav {
    margin-top: 0px;
    top: 20px;
    text-align: center;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #111;
    border-radius: 0px 0px 40px 40px;
    padding: 14px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.nav img {
    height: 30px;
}

.nav-part2 {
    display: flex;
    gap: 24px;
}

.nav-part2 h4 {
    padding: 5px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #111;
}

a {
    text-decoration: none;
    position: relative;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

.circle {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}



.hero-section {
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    overflow: hidden;
}

/* Center Image */
.hero-image {
    position: relative;
  }
  
  .hero-image img {
    height: 700px;
    width: 1000px;
    display: block;
  }
  
  /* fade layer */
  .hero-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(245,245,245,0.5); /* same as section bg */
  }
  

/* Floating text base */
.floating {
    position: absolute;
    font-size: 1.2vw;
    color: #333;
    max-width: 180px;
    line-height: 1.4;
}

/* Text positions */
.text1 {
    font-size: 110px;
    font-weight: 800;
    top: 8%;
    left: 27%;
    font-family: "Oswald", sans-serif;
    color: black;
}

.text2 {
    font-size: 110px;
    font-weight: 800;
    top: 8%;
    left: 49%;
    font-family: "Oswald", sans-serif;
    color: black;
}

.text3 {
    top: 10%;
    left: 5%;
    font-size: 50px;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
    color: black;
    text-align: center;
    width: 100px;
}

.text4 {
    top: 10%;
    right: 10%;
    font-size: 50px;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
    color: black;
}

.hero-button {
    display: flex;
}

.fill-btn {
    position: absolute; 
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 14px 34px;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
  }
  
  .fill-btn .label {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    transition: color .4s ease;
  }
  
  .fill-btn .fill {
    position: absolute;
    inset: 0;
    background: #111;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1;
  }
  
  .fill-btn.filled .label {
    color: #fff;
  }
  
  


/* PAGE 2 */
.page2 {
    min-height: 120vh;
}

.page2-container {
    background: white;
    color: #111;
    width: 97%;
    margin: auto;
    border-radius: 40px;
    padding: 6vw 0;
}


.page2-h1 {
    font-size: 6vw;
    font-weight: 300;
    margin-left: 6vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 2vw;
    min-height: 300px;
}


.box,
.box2 {
    width: 400px;
    border-radius: 40px;
    background: #111;
    overflow: hidden;

    height: 140px;
    transition: height 0.45s ease;
}

.box:hover,
.box2:hover {
    height: 270px;
}


.box h1,
.box2 h1 {
    color: #fff;
    margin: 30px;
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    border-radius: 10px;
}

.box p,
.box2 p {
    color: #fff;
    margin: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
}